<div>
    <div class="center">
        <div class="msf-component-airport-title">{{argument.title}}</div>        
    </div> 
    <div class="msf-airline-container">
        <div class="msf-full-width" style="text-align: center;">   
                <!-- keivys<img src="../../assets/images/components/arguments/airline/aerolin.png" class="msf-airline-image"> -->
                <img src="../assets/images/components/arguments/airline/aerolin.png" class="msf-airline-image">
            <div #sigleairline1 class="msf-component-airport-sub-title">{{argument.label1}}</div>         
            <ng-select
            [items]="data | async"
            [multiple]="false"
            [loading]="loading"
            loadingText="Loading..."
            [closeOnSelect]="true"
            [hideSelected]="false"
            bindLabel="name"
            (search)="onSearch($event)" 
            (change)="airlineChange()"
            (focus)="onFocus()"
            [(ngModel)]="argument.value1">
        </ng-select>          
        </div>
    </div>
  </div>