<div class="center">
    <div class="msf-component-airport-title">Date</div>
</div> 
<div class="msf-component-date-input-container msf-single-date">
    <mat-form-field class="msf-full-width">
        <input matInput [matDatepicker]="picker3" placeholder="Date*" autocomplete="off" class=" msf-full-width msf-menu-arg-select"  [(ngModel)]="argument.value1">
        <mat-datepicker-toggle matSuffix [for]="picker3">            
        </mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>            
</div>