
<ng-container *ngIf="globals.showTabs">
    <mat-tab-group [selectedIndex]="globals.getSelectedIndex()" #tabs>
        <mat-tab  *ngIf="!globals.map">
            <ng-template mat-tab-label>
                    {{globals.currentOption.tab}} <mat-icon (click)="closeTab(2)" class="close-icon">close</mat-icon> 
            </ng-template>
            <div class="msf-viewport-container">
                <app-msf-table #msfTableRef [tabRef]="tabRef"></app-msf-table>
            </div>    
        </mat-tab>
        <mat-tab *ngIf="globals.query" style="height: 100%;">
            <ng-template mat-tab-label>
                Current Query General Summary
                <mat-icon (click)="closeTab(1)" class="close-icon">close</mat-icon> 
            </ng-template>
            <app-current-query-summary></app-current-query-summary> 
        </mat-tab>         
        <mat-tab  *ngIf="globals.generateDynamicTable"  #msfDynamicTableTabRef >
                <ng-template mat-tab-label>
                        Dynamic Table
                        <mat-icon (click)="closeTab(3)" class="close-icon">close</mat-icon> 
                </ng-template>
            <app-msf-dynamic-table  #msfDynamicTableRef ></app-msf-dynamic-table>
        </mat-tab>   
        <mat-tab  *ngIf="globals.chart" #tabRef>
                <ng-template mat-tab-label>
                        Chart
                        <mat-icon (click)="closeTab(4)" class="close-icon">close</mat-icon> 
                </ng-template>
            <app-msf-chart-on-time-delay  #msfChartRef ></app-msf-chart-on-time-delay> 
        </mat-tab> 
        <mat-tab *ngIf="globals.map"  #tabRef>
                <ng-template mat-tab-label>
                        Map
                        <mat-icon (click)="closeTab(5)" class="close-icon">close</mat-icon> 
                </ng-template>
            <app-msf-map #msfMapRef></app-msf-map>
        </mat-tab> 
        
    </mat-tab-group>
</ng-container>

<app-menu-nav ></app-menu-nav>

<app-intro *ngIf="globals.showIntro"></app-intro>
<!-- <app-msf-dashboard [currentDashboardMenu]="globals.currentDashboardMenu.id" *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard> -->

<!-- <app-msf-dashboard [currentDashboardMenu]="1"></app-msf-dashboard> --><!-- globals.currentDashboardMenu.id -->