<div class="menu-nav-container" *ngIf="globals.showMenu" >
    <div class="menu-option-container-first-line"></div>
    <div class="menu-option-container-second-line"></div>
    <div class="dimension-menu" *ngFor="let option of menu_nav" style="color: white">
        <app-admin-menu-recursive [menu]="option" (optionSelected)="getOptionSelected($event)"></app-admin-menu-recursive>
    </div>
<!-- dashboard -->
    <div class="dimension-menu" style="color: white">
      <div [ngClass]="{
        'menu-opened': globals.OptionDashboard
      }">
          <div class="menu-option-container" [ngClass]="{
            'menu-parent-option': globals.OptionDashboard
          }" (click)="toggle(globals.OptionDashboard)">
              <div class="msf-item menu-field menu-option-label">
                  <div class="msf-item-label menu-option-text">Dashboard</div>  
              </div>
              <button class="menu-option-button" mat-icon-button style="vertical-align: super;">
                  <mat-icon *ngIf="!globals.OptionDashboard" style="color: white" aria-label="Toogle">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="globals.OptionDashboard" style="color: white" aria-label="Toogle">keyboard_arrow_up</mat-icon>
              </button>
              <div class="menu-option-container-first-line"></div>
              <div class="menu-option-container-second-line"></div>
              <div *ngIf="globals.OptionDashboard">
                <div class="dimension-menu" *ngFor="let optionChild of dashboards">
                  <app-menu-recursive-dashboard [menu]="optionChild" (optionSelected)="selectOption($event)"></app-menu-recursive-dashboard>
                </div>
              </div>
            </div>
      </div>
        
    </div>

</div>