
  <!--body-->
  <div class="msf-intro-body msf-intro-body-mobile">
        <div class="msf-intro-body-enc">
            <div style="width: calc(100% - 58px);">
                <div class="msf-intro-welcome">Welcome, Administrator</div>
                <div style="font-weight: lighter; font-size: 65%;">Last time: jan 31, 2019 4:00 pm</div>
            </div>
            <div>
                <!-- <img src="../../assets/images/pulse_welc.png" class="msf-intro-div-image">  keivys -->
                <img src="../assets/images/pulse_welc.png" class="msf-intro-div-image">               
            </div>
        </div>
        <div  class="msf-intro-body-body">         
            <!-- <app-msf-dashboard *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard> -->
            <!-- <app-msf-dashboard></app-msf-dashboard> -->
            <app-msf-dashboard [currentDashboardMenu]="globals.currentDashboardMenu.id" *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard>
        </div>
    </div>
