
  <!--body-->
  <div *ngIf="globals.showIntro" class="msf-intro-body msf-intro-body-mobile">
        <!-- <div class="msf-intro-body-enc">
            <div style="width: calc(100% - 58px);">
                <div class="msf-intro-welcome">Welcome, Administrator</div>
                <div style="font-weight: lighter; font-size: 65%;">Last time: jan 31, 2019 4:00 pm</div>
            </div>
            <div>
                <img src="../assets/images/pulse_welc.png" class="msf-intro-div-image">               
            </div>
        </div> -->
        <div class="landing-name-content">
                <div style="width: calc(100% - 83px); margin-right: 10px;">
                    <div class="msf-intro-welcome">Welcome, {{globals.currentUser}}</div>
                    <div style="font-weight: lighter; font-size: 65%;">Last time: jan 31, 2019 4:00 pm</div>
                </div>
                <div>
                    <img src="../assets/images/pulse_welc.png" class="msf-intro-div-image"> 
                    <!-- <img src="../assets/images/logo_global_peqe.png" class="msf-intro-div-image"> -->
                   </div>
            </div>
        <div  *ngIf="globals.currentOption != 'dashboard'"   class="msf-intro-body-body"> 
            <div *ngFor="let desc of content" style="margin: 0% 0% 2% 4%; padding-right: 8%; overflow-y: scroll; height: 100%;">
                <app-intro-welcome [content]="desc"></app-intro-welcome> 
            </div>        
            
        </div>
        <div *ngIf="globals.currentOption === 'dashboard'"  class="msf-intro-body-body">     
            <!-- <app-msf-dashboard *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard> -->
            <!-- <app-msf-dashboard></app-msf-dashboard> -->
            <!-- <app-option-welcome></app-option-welcome>  -->
            <app-msf-dashboard [currentDashboardMenu]="globals.currentDashboardMenu.id" *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard>
        </div>
    </div>
