<div>
    <div class="center">
        <div class="msf-component-airport-title"> Equipment Types</div>        
    </div> 
    <div class="msf-airline-container">
            <div class="msf-full-width">   
                <div #aircraft1 class="msf-component-airport-sub-title">Input Equipment(s) separated by commas</div>         
                <ng-select
                [items]="data | async"
                [multiple]="true"
                [loading]="loading"
                loadingText="Loading..."
                [closeOnSelect]="true"
                [hideSelected]="false"
                bindLabel="name"
                (search)="onSearch($event)" 
				(focus)="onFocus()" 					
                [(ngModel)]="argument.value1">
            </ng-select>          
            </div>
    </div>     
  </div>
  