<div class="center">
    <div class="msf-component-airport-title">{{argument.title}}</div>
  </div>  
  <div class="center">
      <div class="msf-component-airport-title">
          <mat-checkbox class="msf-component-airport-title" [value]="all" [(ngModel)]="all.checked" (change)="checkBoxAllChange()" >
              Select/De-Select All
          </mat-checkbox>
      </div>
  </div>    
  <div class="msf-component-airport-input-container checkbox-container" style="padding: 0;">
    <div class="msf-full-width">
      <div class="checkbox-component" *ngFor="let checkbox of data">
        <mat-checkbox class="cancels-checkbox"  [value]="checkbox.value" [(ngModel)]="checkbox.checked" (change)="checkBoxChange(checkbox)" >
          {{checkbox.name}}
        </mat-checkbox>
      </div> 
    </div>      
  </div>