<div class="center">
    <div class="msf-component-airport-title">{{argument.title}}</div>
</div>  
  <div class="msf-component-airport-input-container checkbox-container" style="padding: 0;">
    <div class="msf-full-width">
      <mat-radio-group class="checkbox-component" *ngFor="let radio of data" [(ngModel)]="argument.value1">
          <mat-radio-button style="margin: 10px;" class="cancels-checkbox" [value]="radio.value">
            {{radio.name}}
          </mat-radio-button>
      </mat-radio-group>
    </div> 
  </div>    