<div class="msf-component-airport-input-container">  
    <div class="msf-component-date-input-container" style="margin-right: 5px;">    
        <div  #airports1 class="msf-component-airport-sub-title">{{argument.label1}}</div>     
        <!-- <div  #airports1 [ngClass]="argument.label1!=null ? 'msf-component-airport-sub-title' : 'ocultar' ">{{argument.label1}}</div>       -->
        <ng-select 
                [items]="this.globals.airports | async"
                [multiple]="true"
                [loading]="loading"
                loadingText="Loading..."
                [closeOnSelect]="true"
                [hideSelected]="false"
                bindLabel="name"
                (search)="onSearch($event,'1')" 
                [(ngModel)]="argument.value1">
            </ng-select> 
						
													  
    </div>  
    <div class="msf-component-date-input-container"> 
    <div  #airports2 class="msf-component-airport-sub-title">{{argument.label2}}</div>  
    <ng-select 
        [items]="this.globals.airports | async"
        [multiple]="true"
        [loading]="loading"
        loadingText="Loading..."
        [closeOnSelect]="true"
        [hideSelected]="false"
        bindLabel="name"
        (search)="onSearch($event,'2')" 
        [(ngModel)]="argument.value2">
    </ng-select> 
</div>  
</div>   