<div>
    <div class="center">
        <div class="msf-component-airport-title">Limit to Flight(s) from</div>
    </div>
    <div #airportList1  class="msf-component-airport-sub-title">From</div>     
    <ng-select 
        [items]="this.globals.airports | async"
        [multiple]="true"
        [loading]="loading"
        loadingText="Loading..."
        [closeOnSelect]="true"
        [hideSelected]="false"
        bindLabel="name"
        [dropdownPosition]="'top'"
        (search)="onSearch($event,'1')" 
        [(ngModel)]="argument.value1"
        (change) ="onAirportSelect(1)" >
	</ng-select>
    <div class="center">
        <div class="msf-menu-arg-airport-image"></div>
    </div>   
    <div #airportList2 class="msf-component-airport-sub-title">To</div>  
    <ng-select
        [items]="this.globals.airports | async"
        [multiple]="true"
        [loading]="loading"
        loadingText="Loading..."
        [closeOnSelect]="true"
        [hideSelected]="false"
        bindLabel="name"
        [dropdownPosition]="'top'"
        (search)="onSearch($event,'2')" 
        [(ngModel)]="argument.value2"
        (change) ="onAirportSelect(2)">
    </ng-select> 
</div>  