<div>
    <div class="center">
        <div class="msf-component-airport-title">{{argument.title}}</div>        
    </div>    
    <div class="msf-airline-container">
        <div class="msf-full-width">   
        <div class="msf-component-airport-sub-title">{{argument.label1}}</div>         
        <ng-select
            [items]="data"
            [multiple]="false"
            loadingText="Loading..."
            [closeOnSelect]="true"
            [hideSelected]="false"
            bindLabel="name"
            [(ngModel)]="argument.value1">
        </ng-select>          
        </div>
    </div>
</div>  
