<div class="center">
  <div class="msf-component-airport-title">{{argument.title}}</div>
</div> 
<div class="msf-component-date-input-container">
  <mat-form-field class="msf-full-width">
      <input matInput [min]="globals.minDate" [max]="globals.maxDate" [matDatepicker]="picker3" placeholder="{{argument.label1}}" autocomplete="off" 
      class=" msf-full-width msf-menu-arg-select"  [(ngModel)]="argument.value1">
      <mat-datepicker-toggle matSuffix [for]="picker3">            
      </mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>            

</div>
