<div class="center">
    <div class="msf-component-airport-title">Time Range</div>
    <div class="msf-menu-arg-date-image"></div>
</div>    
<div class="msf-component-airport-input-container">
    
    <mat-form-field class="example-full-width">
            <input class="input-margin" style="margin-top: 5px;" matInput placeholder="From" aria-label="12hr format" [ngxTimepicker]="default" readonly [(ngModel)]="argument.value1">
            <ngx-material-timepicker #default></ngx-material-timepicker>
    </mat-form-field>    
              
    <i class="material-icons msf-menu-arg-right-row">chevron_right</i>
    <mat-form-field class="example-full-width">
            <input class="input-margin" style="margin-top: 5px;" matInput placeholder="To" aria-label="12hr format" [ngxTimepicker]="default1" readonly [(ngModel)]="argument.value2">
            <ngx-material-timepicker #default1></ngx-material-timepicker>
    </mat-form-field>        
</div>