<div class="" [ngClass]="{
  'menu-opened': option.isOpened
}">
  <div class="menu-option-container" (click)="toggle(option)" [ngClass]="{
    'menu-parent-option': option.isOpened
  }">
    <div class="msf-item menu-field menu-option-label" [ngClass]="{'is-active': option.isActive,'is-inactive': !option.isActive}">
      <div  class="msf-item-label menu-option-text">{{option.label}}</div>  
    </div>
    <button class="menu-option-button" mat-icon-button  *ngIf="option.children && option.children.length > 0">
      <mat-icon *ngIf="!option.isOpened" style="color: white" aria-label="Toogle">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="option.isOpened" style="color: white" aria-label="Toogle">keyboard_arrow_up</mat-icon>
    </button>
    <div class="menu-option-container-first-line"></div>
    <div class="menu-option-container-second-line"></div>
  </div>
  
  <div [@animationOption2]="option.isOpened ? 'open': 'close'" *ngIf="option.children && option.children.length > 0 && option.isOpened">
    <div class="dimension-menu" *ngFor="let optionChild of option.children">
      <app-admin-menu-recursive [menu]="optionChild" (optionSelected)="selectOption($event)"></app-admin-menu-recursive>
    </div>
  </div>
</div>
