<div>
  <div class="center">
      <div class="msf-component-airport-title">Select an Option</div>        
  </div> 
  <div class="msf-airline-container">
      <img src="../assets/images/components/arguments/usageStatistics/webservice.png" class="msf-user-image">
      <div [style.width.%]="100">   
          <div class="msf-component-airline-title ">Input an Option</div>         
          <mat-form-field class="msf-field msf-full-width">
              <mat-select [formControl]="optionsCtrl"  #optionSelect [(ngModel)]="argument.value1">
                  <ngx-mat-select-search [formControl]="optionFilterCtrl" placeholderLabel = "Search" noEntriesFoundLabel = "Not Found"></ngx-mat-select-search>
                  <mat-option *ngFor="let option of filteredSimpleOptions | async" [value]="option.id">
                  {{option.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>        
      </div>
  </div>
</div>