<!-- <div class="msf-dashboard-chartmenu-container" [style.height.px]="panelHeight" *ngIf="!values.displayChart">
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-chartmenu-sub-container-row">
      <mat-form-field class="msf-width-90">
        <input matInput autocomplete="off" type="text" placeholder="Chart Name" [(ngModel)]="values.chartName"/>
      </mat-form-field>
    </div>
  </div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-chartmenu-sub-container-row">
      <mat-form-field [formGroup]="chartForm" class="msf-full-width">
        <mat-select formControlName="dataFormCtrl" placeholder="Select Data From" [(value)]="values.currentOption" (selectionChange)="loadChartFilterValues($event.value)">
          <ngx-mat-select-search [formControl]="dataFormFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="msf-dashboard-chartmenu-sub-container-row">
      <mat-form-field class="msf-full-width">
        <mat-select placeholder="Chart Type" [(ngModel)]="values.currentChartType" (selectionChange)="checkChartType()">
          <mat-option *ngFor="let chartType of chartTypes" [value]="chartType">
            {{chartType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-addmenu-icon-item">
      <mat-icon class="msf-dashboard-chart-icon" aria-label="filter_list">filter_list</mat-icon>
      <span class="msf-dashboard-addmenu-item-text">Chart Configuration</span>
    </div>
  </div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-chart-options-container">
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">bar_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="variableCtrl" placeholder="Analysis by" #variableSelect [(value)]="values.variable" (selectionChange)="checkChartFilters()">
              <ngx-mat-select-search [formControl]="variableFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">multiline_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="xaxisCtrl" placeholder="x - Axis" #xaxisSelect [(value)]="values.xaxis" (selectionChange)="checkChartFilters()">
              <ngx-mat-select-search [formControl]="xaxisFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">show_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-dashboard-field-valuectrl">
            <mat-select formControlName="valueCtrl" placeholder="Values" #valueSelect [(value)]="values.valueColumn" (selectionChange)="checkChartFilters()">
              <ngx-mat-select-search [formControl]="valueFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="msf-dashboard-field-function">
            <mat-select placeholder="Function" [(ngModel)]="values.function">
              <mat-option *ngFor="let fun of functions" [value]="fun">
                {{fun.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chartmenu-sub-container-column-reverse">
        <button [disabled]="!generateBtnEnabled" mat-flat-button class="flat-button" (click)="loadData()">Generate</button>
        <div class="msf-dashboard-chartmenu-control-variable-button">
          <button [disabled]="!variableCtrlBtnEnabled" mat-mini-fab (click)="goToControlVariables()" color="primary">
            <mat-icon aria-label="Control Variables">more_vert</mat-icon>
          </button>
        </div>
        <div class="msf-dashboard-chartmenu-control-variable-button">
          <button [disabled]="!values.chartGenerated" mat-mini-fab (click)="goToChart()" color="primary">
            <mat-icon aria-label="Go To Chart">bar_chart</mat-icon>
          </button>
        </div>
        <div class="msf-dashboard-chartmenu-control-variable-button">
          <button mat-mini-fab (click)="savePanel()" color="primary">
            <mat-icon aria-label="Save Changes">save</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- ngIf doesn't work with AmCharts -->
<div class="{{values.displayChart ? 'msf-dashboard-chartmenu-container-chart' : 'msf-dashboard-chartmenu-container-invisible'}}" [style.height.px]="panelHeight">
  <div class="msf-dashboard-chartmenu-title" *ngIf="values.displayChart">{{values.chartName}}</div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <!-- <div class="msf-dashboard-chartmenu-config-button">
      <button mat-mini-fab (click)="goToChartConfiguration()" color="primary">
        <mat-icon aria-label="Edit Configuration">menu</mat-icon>
      </button>
    </div> -->
    <div id="msf-dashboard-chart-display-{{columnPos}}-{{rowPos}}" style="width: 100%" [style.height.px]="calcChartHeight()"></div>
  </div>
</div>