<div class="center">
    <div class="msf-component-airport-title">{{argument.title}}</div>
</div>    
<div class="msf-component-airport-input-container" style="margin:10px 0">
    <mat-form-field class="msf-full-width">
        <input class="input-margin" matInput placeholder="{{argument.label1}}" autocomplete="off" [(ngModel)]="argument.value1">
    </mat-form-field> 
    <i class="material-icons msf-menu-arg-right-row">chevron_right</i>
    <mat-form-field class="msf-full-width">
        <input class="input-margin" matInput placeholder="{{argument.label2}}" autocomplete="off" [(ngModel)]="argument.value2">
    </mat-form-field> 
    <div class="msf-component-airport-sub-title" style="width: 20%;padding: 0;margin-left: 10px;">(min)</div>       
</div>