.msf-schedule-panel{
    background-color: #333333;
    color :#ffffff;
}

.msf-schedule-mat-expansion-panel-header {
    height: 48px;
    padding: 20px !important;
    font-size: 13px !important;
}

.msf-schedule-panel-table {
    width: 100%;
    padding: 10px 0px 24px 16px;
    font-size: 12px !important;
}

.msf-schedule-panel-table td:nth-child(2) { 
    font-weight: 400;
    padding-left: 22px;
 }
.msf-schedule-panel-subs{
    background-color: #01abec;
    padding: 12px;
    font-size: 12px;
    font-weight: 400;

}
.mat-expanded mat-expansion-panel-header{
    background-color: #1e2a2f;
    border-bottom: 2px solid #01abec;
    padding: 20px !important;
}


.msf-schedule-panel-header {
    display: list-item;                           
    list-style-type: disc;      
    list-style-position: inside; 
    width: 142px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .panel-toolbar{
    background: #191a1a;
    color: #01abec;
    cursor: pointer;
  }

  .panel-toolbar2{
    background: #191a1a;
    color: #01abec;
    cursor: pointer;
    height: 88px;
  }
